// Put your custom CSS here!
// You an reference all variables in the Berkeley files
.staffer-badge.label-Pedagogy {
  background-color: #9C3848 !important;
  color: white !important;
}

.label {
    border-radius: $border-radius;
    margin-left: 0;
    user-select: none;

    &.label-lab0 {
      background-color: $lab0;
      color: $body-background-color;
    }
    &.label-lab0-outline {
      background-color: transparent;
      color: $lab0;
      box-shadow: inset 0 0 0 2px $lab0;
    }

    &.label-lab1 {
      background-color: $lab1;
      color: $body-background-color;
    }
    &.label-lab1-outline {
      background-color: transparent;
      color:  $lab1;
      box-shadow: inset 0 0 0 2px  $lab1;
    }

    &.label-lab2 {
      background-color: $lab2;
      color: $body-background-color;
    }
    &.label-lab2-outline {
      background-color: transparent;
      color: $lab2;
      box-shadow: inset 0 0 0 2px $lab2;
    }

    &.label-lab3 {
      background-color: $lab3;
      color: $body-background-color;
    }
    &.label-lab3-outline {
      background-color: transparent;
      color: $lab3;
      box-shadow: inset 0 0 0 2px $lab3;
    }

    &.label-break {
      background-color: $break;
      color: $body-background-color;
    }

}